<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjl.dao.DeptMapper">
    <insert id="addDeptByDept">
        INSERT into T_DEPT (DEPT_ID, DEPT_NAME, DEPT_BASESALARY, DEPT_DESC) VALUES (DEPT_SEQUNECE.nextval,#{dept_name},#{dept_baseSalary},#{dept_desc})
    </insert>
    <update id="updateDeptByDept">
        UPDATE T_DEPT SET DEPT_NAME = #{dept_name},DEPT_BASESALARY = #{dept_baseSalary},DEPT_DESC = #{dept_desc} where DEPT_ID = #{dept_id}
    </update>
    <delete id="deleteDeptByDeptId">
        DELETE from T_DEPT where DEPT_ID = #{dept_id}
    </delete>
    <select id="getAllDept" resultType="com.cjl.model.Dept">
        select * from T_DEPT
    </select>
    <select id="selectDeptByDeptId" resultType="com.cjl.model.Dept">
        select * from T_DEPT where DEPT_ID = #{dept_id}
    </select>
    <select id="selectDeptByDeptName" resultType="com.cjl.model.Dept">
        SELECT * from T_DEPT where DEPT_NAME = #{dept_name}
    </select>
</mapper>