<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjl.dao.EducationMapper">
    <insert id="addEdu">
        insert into T_EDUCATION (EDU_ID, EDU_SCHOOLNAME, EDU_MAJORNAME, EDU_STARTTIME, EDU_TYPE, EDU_LEVEL, EDU_DEGREE, VISTOR_ID) VALUES
        (EDU_SENQUENCE.nextval,#{edu_schoolName},#{edu_majorName},#{edu_startTime},#{edu_type},#{edu_level},#{edu_degree},#{vistor.vistor_id})
    </insert>
    <select id="selectByVistorId" resultType="com.cjl.model.Education">
        SELECT * from T_EDUCATION where VISTOR_ID = #{vistor_id}
    </select>
</mapper>