<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjl.dao.QualificationMapper">
    <insert id="addQua">
        insert into T_QUALIFICATION (QUA_ID, RECRUIT_ID, RESUME_ID, QUA_STATE) VALUES
        (QUALIFICATION_SEQUNECE.nextval,#{recruit.recruit_id},#{resume.resume_id},#{qua_state})
    </insert>
    <update id="updateFailed">
          update T_QUALIFICATION set QUA_STATE = 1 where QUA_ID = #{qua_id}
    </update>

    <update id="updateSuccess">
          update T_QUALIFICATION set QUA_STATE = 2 where QUA_ID = #{qua_id}
    </update>
</mapper>