<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjl.dao.RecruitMapper">

    <insert id="add">

    </insert>
    <select id="getAll" resultType="com.cjl.model.Recruit">
        select * from T_RECRUIT r,T_DEPT d,T_EMPLOYEELEVEL e,T_DEPTPOSITION dp WHERE
          r.DEPT_ID=d.DEPT_ID and r.EMPLOYEELEVEL_ID=e.EMPLOYEELEVEL_ID and r.DEPTPOSITION_ID=dp.DEPTPOSITION_ID
    </select>
</mapper>